div.space {  position: relative; margin-top: 250px;}
div.space div.swiper { width: 100%; height: 100%;  }
div.space div.swiper div.swiper-wrapper div.swiper-slide img { width: 100%; height: 100%;    }
div.swiper-pagination { position: absolute; bottom: 20px;}



div.space div.swiper div.swiper-slide button {
  width: 250px; height: 50px; font-size: 16px; font-weight: 700;
  position: absolute; bottom: 100px; left: 50px;
}
div.space div.swiper div.swiper-slide button:hover {
  background-color: #333;  color: #fff; transition: 1s;
}
div.space div.swiper div.swiper-slide p {
  position: absolute; bottom: 200px; left: 50px;
  font-size: 56px; font-weight: bold;
}
div.space div.swiper div.swiper-slide > p > span {
  display: block; margin-top: 20px;
  font-size: 20px; font-weight: 300;
}