div.space div.swiper-button-next,div.swiper-button-prev {
  display: none;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide {
  width: 100%; height: 850px;
}




div.space {
  width: 1420px;
  margin: 0 auto;
  margin-top: 250px;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_main {
  width: 1420px; height: 100%;
  position: relative;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_main img {
  width: 1420px; height: 850px;
  opacity: .7;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_main > p {
  position: absolute; width: 400px;
  top: 40%; left: 50%; text-align: center;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #fff; font-weight: 500;
  border: 1px solid #fff;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_main > p > span {
  position: absolute; display: block;
  font-size: 22px; margin-top: 30px;
  width: 400px; font-weight: 100;
  color: #fff; 
}


div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_studio {
  width: 1420px; height: 100%;
  position: relative;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_studio img {
  width: 1420px; height: 850px;
  opacity: .7;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_studio > p {
  position: absolute; width: 400px;
  top: 22%; right: 4%; text-align: center;
  transform: translate(-50%, -50%);
  font-size: 46px;
  color: #fff; font-weight: 500;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.space_studio > p > span {
  position: absolute; top: 450px; right: 700px; 
  display: block;
  font-size: 22px; 
  width: 400px; font-weight: 500;
  color: #fff; 
}


div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork {
  width: 1420px; height: 100%;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork img {
  width: 1420px; height: 800px;
  opacity: .6;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork > p {
  width: 600px;
  position: absolute; bottom: 270px; left: 20px;  
  font-size: 58px;
  color: #fff; font-weight: 500;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork > p > span {
  display: block;
  font-size: 16px;
  margin-top: 20px; 
  width: 600px; font-weight: 100;
  color: #fff; 
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork > button {
  width: 200px; height: 50px; line-height: 50px;
  margin-top: 20px; 
  color: #fff; font-size: 14px; font-weight: 700;
  border: 1px solid #fff;
  background-color: #000; 
  position: absolute; bottom: 180px; left: 20px;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork > button > a {
  width: 200px; height: 50px;
  display: block;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.newyork > button > a:hover {
  background-color: #fff; color: #000;
  transition: 1s;
}



div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam {
  width: 1420px; height: 100%;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam img {
  width: 1420px; height: 800px;
  opacity: .6;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam > p {
  width: 600px;
  position: absolute; bottom: 270px; left: 20px;
  font-size: 58px; 
  color: #fff; font-weight: 500;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam > p > span {
  display: block;
  font-size: 18px;
  margin-top: 20px; 
  width: 590px; font-weight: 100;
  color: #fff; 
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam > button {
  width: 200px; height: 50px; line-height: 50px;
  margin-top: 20px; 
  color: #fff; font-size: 14px; font-weight: 700;
  border: 1px solid #fff;
  background-color: #000; 
  position: absolute; bottom: 180px; left: 20px;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam > button > a {
  width: 200px; height: 50px;
  display: block;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.hanam > button > a:hover {
  background-color: #fff; color: #000;
  transition: 1s;
}





div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam {
  width: 1420px; height: 100%;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam img {
  width: 1420px; height: 800px;
  opacity: .5;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam > p {
  width: 700px;
  position: absolute; bottom: 270px; left: 20px;
  font-size: 58px;
  color: #fff; font-weight: 500;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam > p > span {
  display: block;
  font-size: 18px;
  margin-top: 20px; 
  width: 600px; font-weight: 100;
  color: #fff; 
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam > button {
  width: 200px; height: 50px; line-height: 50px;
  margin-top: 20px; 
  color: #fff; font-size: 14px; font-weight: 700;
  border: 1px solid #fff;
  background-color: #000; 
  position: absolute; bottom: 180px; left:20px;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam > button > a {
  width: 200px; height: 50px;
  display: block;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.gangnam > button > a:hover {
  background-color: #fff; color: #000;
  transition: 1s;
}




div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji {
  width: 1420px; height: 100%;
  margin: 0 auto;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji img {
  width: 1420px; height: 800px;
  opacity: .6;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji > p {
  width: 500px;
  position: absolute; bottom: 270px; left: 20px;
  font-size: 58px;
  color: #fff; font-weight: 500;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji > p > span {
  display: block;
  font-size: 18px;
  margin-top: 20px; 
  width: 600px; font-weight: 100;
  color: #fff; 
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji > button {
  width: 200px; height: 50px; line-height: 50px;
  margin-top: 20px; 
  color: #fff; font-size: 14px; font-weight: 700;
  border: 1px solid #fff;
  background-color: #000; 
  position: absolute; bottom: 180px; left: 20px;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji > button > a {
  width: 200px; height: 50px;
  display: block;
}
div.space div.swiper div.swiper-wrapper div.swiper-slide div.suji > button > a:hover {
  background-color: #fff; color: #000;
  transition: 1s;
}







